

      <div class="card col-sm-3" style="width: 20rem;">
        <%= image_tag("products.png", class:"card-img-top size") %>
        <div class="card-body">
        <h4 class="card-title">Merchandise</h4>
        <p class="card-text">A cheaper way to transport bulk merchandise. Simply load your merchadise into a container and then we will pick it up and send it to it's new destination.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Orgin: </li>
        <li class="list-group-item">Destination: </li>
        <li class="list-group-item">Cost: </li>
      </ul>
      <div class="card-body">
        <%= link_to "Cargo Ships", boats_path %>
        <%# link_to "cart", home_show_path, class:"fright" %>
      </div>
     </div>