<div class="header">
  <h1 >Edit Contracts</h1>
  <h4>Edit your contracts</h4>
</div>

<div class="container-fluid center">
  <div class="row">
		<div class="col-sm-3"></div>
  	<div class="col-sm-3 center">
			<%= render 'form' %>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="row">
		<div class="col-sm-3"></div>
  	<div class="col-sm-3 center">
     <%= link_to "Delete Contract", @job, method: :delete, remote: true, class: "btn btn-success destroy button" %>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>