<div class="header">
  <h1 >Jobs</h1>
  <h4>Create a job or choose a cargo ship to add too</h4>
  <%= render 'form' %>
</div>

<div class="container-fluid">
  <div class="row jobs spacing">
   <% @job_all.each do |job| %>
      <%= render job %>
  <% end %>
  </div> <!-- end of row -->
</div> <!-- end of container -->

