<div class="header">
  <h1 >Contracts</h1>
  <h4>Select which contract</h4>
</div>

<div class="container-fluid">
	<div class="row spacing">
   
      <%= render 'job' %>
  
  </div> <!-- end of row -->
</div> <!-- end of container -->
