<div class="header">
  <h1 >Contracts</h1>
  <h4>Create a Contract or choose a contract</h4>
  <%= render 'form' %>
</div>

<div class="container-fluid">
	<div class="row jobs spacing" id="job-<%= @job.id %>">
   <% @job_all.each do |job| %>
      <%= render job %>
       <% if current_user == job.user %>
        <%= link_to image_tag("delete.png", class: "format_small"), job,  method: :delete, remote: true %>
      <% end %>
  <% end %>
  </div> <!-- end of row -->
</div> <!-- end of container -->

