<div class="header">
  <h1 >Contracts</h1>
  <h4>Create a Contract</h4>
  <%= render 'form' %>
</div>

<div class="container-fluid style">
	<div class="row spacing">
   <% @job_all.each do |job| %>
      <%= render 'job' %>
  <% end %>
  </div> <!-- end of row -->
</div> <!-- end of container -->

