<div><%= image_tag("boat_one", class:"image") %></div>

<div class="container-fluid styling">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 spacing">
     <h3>About Us</h3>
      <p>We take your shipping needs to a whole new level. Want your container there fast? Want on time deliveries? Well you came to the wrong place. We ship things according to our schedule.</p>
    </div>
    <div class="col">
    </div>
  </div>
   <!-- end of row -->
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 spacing">
     <h3>What we ship</h3>
    
    </div>
    <div class="col">
    </div>
  </div>
 <!-- end of row -->
  <div class="row spacing_on">
    <div class="col-4">
      <div class="card left" style="width: 20rem;">
        <%= image_tag("container.jpg", class:"card-img-top size") %>
        <div class="card-body">
          <h4 class="card-title">Containers</h4>
          <p class="card-text">Containers are all the new rage of home building. We can ship your container anywhere you want to build.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card middle" style="width: 20rem;">
        <%= image_tag("car.jpg", class:"card-img-top size") %>
        <div class="card-body">
          <h4 class="card-title">Cars</h4>
          <p class="card-text">Moving to a new overseas location, well look no farther. We will transport your car to your new location.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card right" style="width: 20rem;">
        <%= image_tag("products.png", class:"card-img-top size") %>
        <div class="card-body">
          <h4 class="card-title">Merchandise</h4>
          <p class="card-text">A cheaper way to transport bulk merchandise. Simply load your merchadise into a container and then we will pick it up and send it to it's new destination.</p>
        </div>
      </div>
    </div>
    <!-- end of column -->
    </div>
    <!-- end of row -->

  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h4>Contact Us</h4>
      <p>+1-800-555-5555</p>
      <p>fedups@cargo.com</p>
    </div>
    <div class="col">
    </div>
    </div>
  </div>
     <!-- end of row -->
      <!-- end of container -->
