// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.styling {
	text-align: center;
}

.size {
	height: 200px;
	width: 200px;
	display: inline-block;
}

// .col{
// 	border: solid;
// }

.image {
	width: 1300px;
	height:400px;
	margin-bottom: 5%;
	background-image: asset_url('image/boat_one');
}

.spacing_one {
	margin-bottom: 5%;
}

.left {
	margin-left: 21%;
}

.middle {
	 margin-left: 12%;
}

.right {
	margin-right: 21%;
}

