
			<div class="card col-sm-3" style="width: 20rem;">
        <%= image_tag @boat.avatar.url, class:"card-img-top size") %>
        <div class="card-body">
        	<h4 class="card-title">BERTHA</h4>
       		<!--  <p class="card-text">something bout the boat</p> -->
      	</div>
      	<ul class="list-group list-group-flush">
	        <li class="list-group-item">Location:</li>
	        <li class="list-group-item">Load Capacity:</li>
      	</ul>
      	<div class="card-body">
        	<%= link_to "Contracts", jobs_path %>
        <%# link_to "cart", home_show_path, class:"fright" %>
      	</div>
     	</div>