<div class="header">
  <h1 >Cargo Ships</h1>
  <h4>Select a cargo ship</h4>
</div>
<div class="container-fluid style">
  <div class="row spacing">
 
      <%= render 'boat' %>
      
  </div> <!-- end of row -->
</div> <!-- end of container -->
