<div class="header">
  <h1 >Cargo Ships</h1>
  <h4>create a cargo ship or select a job to add to a ship</h4>
  <%= render 'form' %>
</div>
<div class="container-fluid style">
  <div class="row job_boats spacing">
  <% @boats.each do |boat| %>
      <%= render boat %>
  <% end %> 
  </div>
</div>

